[data-mode="dark"]{
  --body: #333333;
  --text: #ffffff;
}
[data-mode="light"] {
  --body: #ffffff;
  --text: #000000;
}

header {
  display: flex;
  justify-content: space-between;
}
 nav{
  display: flex;
  gap: 10px;
 }
body{
  background-color: var(--body);
  color: var(--text);
}
a{
  text-decoration: none;
  color: var(--text);
}

label{
  width: 40px;
  height: 20px;
  position: relative;
}

label .switch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #a0a0a0;
  cursor: pointer;
  border-radius: 20px;
}

.switch::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  transition: 0.5s;
  left: 0;
}

input:checked + .switch::before{
  transform: translateX(20px);
  background-color: #fff;
}
